<div id="bar_menu" class="navbar navbar-inverse navbar-fixed-top scrollclass">
   <div class="container">
	  <div class="navbar-header">
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			   <span class="icon-bar"></span>
			   <span class="icon-bar"></span>
		 </button>
		 <a class="navbar-brand" href="#">Top</a>
	  </div>
	  <div class="navbar-collapse collapse">
		 <ul class="nav navbar-nav navbar-right">
			<li><a href="https://github.com/alu0100207385/SYTW_p6">Repository</a></li>
			<li><a href="#rules">Rules</a></li>
			<li><a href="/logout">LogOut</a></li>
		 </ul>
	  </div>
   </div>
</div>
<!--END NAB BAR SECTION-->

<style>
/*    #enter{width:100%; font-size: 15px; padding: 5px; display: block;} */
   #box{ margin-top: 55px;}
</style>

<div class="container" id="box">
   <div class="row">
	<form id="enter" class="form-inline" role="form">
		<div id="chat" class="form-group">
<!-- 			<label for="inputMessage" class="sr-only">Write then press Enter</label> -->
			<input type="text" id="text" placeholder="Write then press Enter" autofocus/>
		</div>
		<button id="bsend" type="submit" class="btn btn-default">send</button>
	</form>
   </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/chat.js"></script>
