<section id="location-sec">
        <div class="container">
            <div class="row text-center min-set">
                <div class="col-md-12">
                    <h2><mark class="head-glow">PROBLEMAS</mark>FRECUENTES</h2>
                    <hr class="sub-hr" />
                </div>
            </div>
            
            <div class="row">

                <div class="col-6 col-sm-4 col-lg-4">
                     <h3><mark class="head-glowi">Problemas de Logueo</mark></h3>
                     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                    <a href="http://www.binarytheme.com/" target="_blank" style="color: #fff; font-size: 12px;">Más ayuda pulsa aquí</a>
                </div>
                <div class="col-6 col-sm-4 col-lg-4">
                     <h3><mark class="head-glowi">Problemas Coveralls</mark></h3>
                     <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                     <a href="http://www.binarytheme.com/" target="_blank" style="color: #fff; font-size: 12px;">Más ayuda pulsa aquí</a>
                </div>
                 <div class="col-6 col-sm-6 col-lg-4">
                    <h3><mark class="head-glowi">Problemas Selenium</mark></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                    <a href="http://www.binarytheme.com/" target="_blank" style="color: #fff; font-size: 12px;">Más ayuda pulsa aquí</a>
                </div>
            </div>
    </section>