<section id="location-sec">
        <div class="container">
            <div class="row text-center min-set">
                <div class="col-md-12">
                    <h2><mark class="head-glow">PROBLEMAS</mark>FRECUENTES</h2>
                    <hr class="sub-hr" />
                </div>
            </div>
            
            <div class="row">

                <div class="col-6 col-sm-4 col-lg-4">
                     <h3><mark class="head-glowi">Problemas de Logueo</mark></h3>
                     <br>
                     <p>Los errores de logueo en este chat puede ser debido a que ya este utilizado un
                        usuario con el mismo nick o que se hay algún en el servidor debido a que este 
                        saturado el mismo,debido a la gran afluencia de personas.Lo que debemos hacer 
                        es siempre utilizar el mismo usuario para evitar problemas de duplicación de
                        usuarios con el mismo nick.
                        </p>
                        <br>
                    <a href="http://www.binarytheme.com/" target="_blank" style="color: #fff; font-size: 12px;">Más ayuda pulsa aquí</a>
                </div>
                <div class="col-6 col-sm-4 col-lg-4">
                     <h3><mark class="head-glowi">Problemas Coveralls</mark></h3>
                     <br>
                     <p>Coveralls permite mantener una estadística delcódigo cubierto por nuestros test,
                        los cuales son ejecutados por Travis-CI. Uno de los errores habituales puede ser un error en no haber creado el fichero .coveralls.yml, indicando el servicio que vamos a utilizar de Travis y en el Gemfile indicando la gema coveralls que vamos a utilizar.</p>
                        <br>
                    <a href="http://www.binarytheme.com/" target="_blank" style="color: #fff; font-size: 12px;">Más ayuda pulsa aquí</a>
                </div>
                 <div class="col-6 col-sm-6 col-lg-4">
                    <h3><mark class="head-glowi">Problemas Selenium</mark></h3>
                    <br>
                    <p>Los test en Selenium puede ser bastantes tediosos debido a que hay que comprobar cada
                        petición por parte del usuario,cuando se loguea,cuando se desconecta del chat o cuando envía un mensaje al chat.Por ello debemos hacer un test y probarlo cerciorandonos de que funciona para poder pasar al siguiente test y poder seguir realizando los mismos de manera satisfactoria.</p>
                    <a href="http://www.binarytheme.com/" target="_blank" style="color: #fff; font-size: 12px;">Más ayuda pulsa aquí</a>
                </div>
            </div>
    </section>