<div id="home-sec">
        <div class="overlay">
            <div class="container">
                <div class="col-md-8 pad-top scrollclass">

                    <h1>
                        <strong>Bienvenido a nuestro chat</strong>
                    </h1>
                    <p class="home-p">
                        Para entrar en el chat introduzca su nickname. 
                Si su nick ya esta en uso por otro usuario,debe escoger otro.
                Recuerde respetar las normas del chat.
                    </p>
                    <a class="btn btn-primary btn-lg btn-home" href="#ingreso">Ingresar en chat &nbsp; <i class="fa fa-toggle-on"></i></a>
                </div>
            </div>
        </div>
</div>
<section id="features-sec">
        <div class="container">
            <div class="row text-center min-set">
                <div class="col-md-12">
                    Aqui va el ingreso de usuario
	Ingresa el nombre y va al
	<a href="chat" style="color: #000; font-size: 20px;">Chat</a>
                </div>
            </div>

        </div>
    </section>
<div id="ingreso">
	
</div>