<div id="home-sec">
        <div class="overlay">
            <div class="container">
                <div class="col-md-8 pad-top scrollclass">

                    <h1>
                        <strong>Bienvenido a nuestro chat</strong>
                    </h1>
                    <p class="home-p">
                        Para entrar en el chat introduzca un nickname. 
                Si su nick ya esta en uso por otro usuario,debe escoger otro.
                Recuerde respetar las normas que estan descritas en Rules.
                    </p>
                </div>
            </div>
        </div>
</div>
<section id="features-sec">
        <div class="container">
            <div class="row text-center min-set">
                <div class="col-md-12">
    Aqui va el ingreso de usuario
	Ingresa el nombre de usuario
    <a href="chat" style="color: #000; font-size: 20px;">Chat</a>
                </div>
            </div>

        </div>
</section>