<!--WELCOME-->
<div id="home-sec">
   <div class="overlay">
	  <div class="container">
		 <div class="col-md-8 pad-top scrollclass">
			<h1><strong><mark>Bienvenido </mark> a nuestro chat</strong></h1>
			   <p class="home-p">
				  Para entrar en el chat introduzca su nickname. 
				  Si su nick ya esta en uso por otro usuario, debe escoger otro para poder
				  participar. Recuerde respetar las normas del chat.
			   </p>
<!--           <a class="btn btn-primary btn-lg btn-home" href="#ingreso">Ingresar en chat &nbsp; <i class="fa fa-toggle-on"></i></a> -->
		 </div>
	  </div>
	  <div id="login"></div>
   </div>
</div>

<!--LOGIN-->

<section id="skill-sec">
   <div class="overlay">
	  <div class="container">
		 <div class="row">
			<form role="form">
			   <div class="form-group">
				  <h4>Para ingresar, introduce un nickname</h4>
				  <input type="text" class="form-control" placeholder="Nickname">
			   </div>
			   <a class="btn btn-info" href="/chat" role="button">Enter to the chat!</a>
			</form>
<!--			<div class="col-lg-3 col-md-3 col-sm-3 text-center">
			   <i class="fa fa-user fa-5x"></i>
			   <h4>Enter your nickname</h4>
			</div>
-->
		 </div>
	  </div>
   </div>
</section>
