<html>
   <head>
	  <meta content="text/html, charset=utf-8" http-equiv="Content-Type"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	  <!--[if IE]>
		 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <![endif]-->
	  <title> PRACTICA 6: Chat</title>
	  <!-- BOOTSTRAP CORE STYLE  -->
	  <link href="/css/bootstrap.css" rel="stylesheet" />
	  <!-- FONT AWESOME ICON STYLE  -->
	  <link href="/css/font-awesome.css" rel="stylesheet" />
	  <!-- PRETTYPHOTO STYLE  -->
	  <link href="/css/prettyPhoto.css" rel="stylesheet" />
	  <!-- CUSTOM STYLE CSS -->
	  <link href="/css/style.css" rel="stylesheet" />
	  <!-- CUSTOM THEME COLOR - YOU CAN USE LIGHT & DARK THEMES  -->
	  <link href="/css/themes/light.css" rel="stylesheet" />
	  <!-- GOOGLE FONT -->
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   </head>
   <body>
	  <%= yield %>

	  <section id="location-sec">
		 <div class="container">
			<div class="row text-center min-set">
			   <div class="col-md-12">
				  Design by:<br>
                  <a href="http://alu0100207385.github.io/" target="_blank" style="color: #fff;font-size: 18px;">Aarón Socas Gaspar</a>
                  &
                  <a href="https://github.com/alu0100207385/SYTW_p6" target="_blank" style="color: #fff; font-size: 18px;">Aarón José Vera Cerdeña</a>
				  <hr class="sub-hr">
				  <a href="help" style="color: #fff; font-size: 14px;">Help</a>
				  <br>Copyright ©2014
                </div>
            </div>
        </div>
	  </section>

   </body>
</html>